* {margin: 0;padding: 0;}
#container {
    padding: 120px 0 50px;
    position: relative;
    z-index: 999;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    /*background: url("../images/bodyPic.png") no-repeat rgb(41, 31, 85);*/
    /*background-size:100% 100%;*/
}
#container .top-1,#container .top-2 {
    display: inline-block;
    margin-left: 10px;
}
#container #card {
    /*position: absolute;*/
    /*top:15%;*/
    /*right:0;*/
    padding: 20px;
    /*border: 2px solid #5f5c59;*/
    /*border-radius:10px;*/
    font-size: 14px;
    background: rgba(245, 243, 243, 0.71);
}
#container .infor h3 {
    margin-bottom: 5px;
    padding: 0 13px;
}
#container .infor h3 i {
    font-size: 10px;
}
#container .infor .status {
    display: inline-block;
    font-size: 14px;
    padding: 4px 7px;
    margin: 20px 0;
    border-radius: 5px;
    cursor: pointer;
}
#container .infor .inforLine {
    display: inline-block;
    max-width: 20%;
    min-width: 20%;
    margin-right: 0.5%;
}
#container .infor .inforLine b {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#container .infor p {
    font-size: 14px;
    margin: 8px 0;
    text-align: left;
}
#container .infor p span {
    display: inline-block;
    width: 70px;
    text-align: right;
}
#container .infor p b {
    position: relative;
    top: 3px;
    display: inline-block;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
#container .infor .comBisic,#container .icon-edit {
    cursor: pointer;
}
/**/
#container .opinionWarning-1,#container .opinionWarning-2,#container .opinionWarning-3 {
    margin: 3px auto 0;
    overflow: hidden;
    width: 100%;
    padding: 20px;
    background: rgba(245, 243, 243, 0.71);
}
#container .inforContent .main {
    position: relative;
    padding: 5px 5px 5px 30px;
    background: rgba(88, 88, 88, 0.1);
    margin: 20px auto 0;
}
#container .inforContent .main .textFlag {
    position: absolute;
    top: 17px;
    left:8px;
}
#container .inforContent .main .option span {
    display: inline-block;
    margin-right: 20px;
}
#container .inforContent .main .context {
    margin:10px 0;
}

/*舆情预警添加风险评价模块*/
#container .riskValue {
    margin: 2px auto 0;
    overflow: hidden;
    width: 100%;
    padding: 20px;
    /*border: 2px solid #5f5c59;*/
    /*border-radius:10px;*/
    background:rgba(245, 243, 243, 0.71);
}
#container .riskValue .riskLeft {
    float: left;
    width: 45%;
}
#container .riskValue .riskRight {
    float: right;
    width: 40%;
}
#container .riskValue .riskRight .time {
    display: inline-block;
    padding: 1px 4px;
    border: 1px solid silver;
    border-radius: 5px;
    font-size: 12px;
    margin: 10px 0;
}
#container .riskValue .riskRight .monitor span {
    display: inline-block;
    max-width: 32%;
    min-width: 32%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#container .riskValue .comRisk {
    font-size: 14px;
    cursor: pointer;
}
#container .riskValue p {
    font-size: 16px;
    margin:30px 0 0 30px;
    max-width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}
/**/

/* ====lvlei==== */
/* 工商注册公司名称 */
#container .infor .isPlatform span{
    width: auto!important;
}
#container .infor .isPlatform,
#container .infor .isPlatform b {
    max-width: 100%!important;
}
/* 舆情内容 */
.commentinforContent span {
    font-weight:700;
}
.commentinforContent span.pagination-info {
    font-weight:400;
}
.commentinforContent .inforContent .main p.context {
    max-height:300px;
    overflow:auto;
    word-wrap:break-word;
    word-break:break-all;
}
/* 加载提示信息 */
.load {
    text-align:center;
    margin-top:10px;
}
/* 二级标题 */
.twoLevel_headlines {
    padding-left:30px;
    font-size: 16px;
}
/* 舆情内容盒子 */
#container .inforContent .main {
    text-align:left;
}
/* 去掉边框 */
.business .fixed-table-container,.business .bootstrap-table .table>thead>tr>th,
.business .table>tbody>tr>td,.business .bootstrap-table .table,
.incomeTable .fixed-table-container,.incomeTable .bootstrap-table .table>thead>tr>th,
.incomeTable .table>tbody>tr>td,.incomeTable .bootstrap-table .table,
.guarantee .fixed-table-container,.guarantee .bootstrap-table .table>thead>tr>th,
.guarantee .table>tbody>tr>td,.guarantee .bootstrap-table .table,
.billing .fixed-table-container,.billing .bootstrap-table .table>thead>tr>th,
.billing .table>tbody>tr>td,.billing .bootstrap-table .table,
.commentinforContent .fixed-table-container,.commentinforContent .bootstrap-table .table>thead>tr>th,
.commentinforContent .table>tbody>tr>td,.commentinforContent .bootstrap-table .table
{border: none;}
.business .fixed-table-container thead th .both,.incomeTable .fixed-table-container thead th .both,
.guarantee .fixed-table-container thead th .both,.billing .fixed-table-container thead th .both,
.commentinforContent .fixed-table-container thead th .both {background-image: none;}
.business .fixed-table-container thead th .th-inner,
.business .table>tbody>tr>td,.business .bootstrap-table .table:not(.table-condensed)>tbody>tr>td,
.incomeTable .fixed-table-container thead th .th-inner,
.incomeTable .table>tbody>tr>td,.incomeTable .bootstrap-table .table:not(.table-condensed)>tbody>tr>td,
.guarantee .fixed-table-container thead th .th-inner,
.guarantee .table>tbody>tr>td,.guarantee .bootstrap-table .table:not(.table-condensed)>tbody>tr>td,
.billing .fixed-table-container thead th .th-inner,
.billing .table>tbody>tr>td,.billing .bootstrap-table .table:not(.table-condensed)>tbody>tr>td,
.commentinforContent .fixed-table-container thead th .th-inner,
.commentinforContent .table>tbody>tr>td,.commentinforContent .bootstrap-table .table:not(.table-condensed)>tbody>tr>td
{padding: 0;}

/* 模态框 */
#moreInfo, #editCard, #editIncome,
#EditRelatedPlat-box ,#EditRelatedCompany-box,
#saveSuccess ,#MonitorStatus_off{
    top:100px;
}
/* 编辑功能 */
#editCard .example ,#editIncome .example,
#EditRelatedPlat-box .example,#EditRelatedCompany-box .example {
    margin-top: 20px;
    /* text-align: center; */
    text-align: left;
    padding-left:5%;
}
#editCard .example span, #editIncome .example span,
#EditRelatedPlat-box .example span,
#EditRelatedCompany-box .example span{
    display: inline-block;
    /* width: 100px; */
    width: 25%;
    text-align: center;
}
#editCard .example input, #editCard .example select ,#editIncome .example input,
#EditRelatedPlat-box .example input,
#EditRelatedCompany-box .example input {
    /* width: 250px; */
    width: 50%;
    background: transparent;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 3px 7px;
    /* color: white; */
    text-align: center;
}
/* 停止恢复监测 */
#MonitorStatus_off .modal-body textarea{
    max-width: 100%;
    min-width:100%;
    background: transparent;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 3px 7px;
    /* color: white; */
    text-align: left;
    min-height:80px;
}

/* ====lvlei==== */