{% extends "publicNav.html" %}
{% block title %}<title>用户管理</title>{% endblock %}
{% block my_css %}
    <link rel="stylesheet" href="/static/css/modalANDtable.css">
    <link rel="stylesheet" href="/static/css/userManage.css">
    <style>
        #nav .nav_middle .main_li:nth-of-type(6) {
            -webkit-transform: scale(1.3);
            -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
            -o-transform: scale(1.3);
            transform: scale(1.3);
        }
        #nav .nav_middle .main_li:nth-of-type(6) a {
            color:#ff9645;
        }
        #fullPage-nav li .active span, .fullPage-slidesNav .active span {background: transparent;}
        #fullPage-nav span, .fullPage-slidesNav span {
            width: 10px;
            height: 10px;
            border: 1px solid #fcf8e3;
        }
        #fullPage-nav li, .fullPage-slidesNav li {margin: 12px 7px;}
        #nav {background: rgba(60, 118, 130, 0.52);}
        #nav .nav_middle, #nav .nav_right {display: block;}
        .userGroup .fixed-table-toolbar,.userGroup .fixed-table-pagination .page-list {
            display: none;
        }
        .bootstrap-table .table>thead>tr>th{
            width:5%;
        }
        /*.userGroup .fixed-table-container thead th:first-child {width: 2% !important;}*/
        /*.userGroup .fixed-table-container .bs-checkbox {vertical-align: middle;}*/
        /*.fixed-table-container tbody .selected td {background-color: #2a556f!important;}*/
    </style>
{% endblock %}

{% block main %}
<div id="container">
    <div class="firstScreen">
        <h3 style="color: white;margin-top: 30px;">
            <i class="icon icon-user"></i>&nbsp;用户管理
            <span class="addUser btn btn-primary" data-toggle="modal" data-target="#userModal"
                  style="margin-left: 20px;vertical-align: middle;">添加用户</span>
        </h3>
        <div class="userGroup">
            <div id="userGroup"></div>
        </div>
    </div>
</div>

<!-- 添加用户 -->
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加用户</h4>
            </div>
            <!-- 表单 -->
            <form id="addform" action="/manage/addUser" method="post" name="add_user_form" accept-charset="utf-8">
                <div class="modal-body">
                    <!-- 提示信息 -->
                    <p class="hint-information clearfix" style="display:none;">
                        <span style="color:#fff;text-align:center;width:80%;display:inline-block;"></span><i class="icon-asterisk" style="color:red;vertical-align:middle;"></i>
                    </p>

                    <div class="user-1 example">
                        <label for="username">
                            <span>账户名称</span>
                        </label>
                        <input type="text" class="u1_Val" id="username" name="username">
                    </div>
                    <div class="user-2 example">
                        <label for="password">
                            <span>账户密码</span>
                        </label>
                        <input type="text" class="u2_Val" id="password" name="password">
                    </div>
                    <!-- <div class="user-3 example">
                        <span>用户邮箱</span><input type="text" class="u3_Val">
                    </div> -->
                    <div class="user-4 example">
                        <span>用户角色</span>
                        <select class="u4_Val" name="role_id">
                            <option value="2">业务员</option>
                            <option value="1">管理员</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <!-- <button type="button">确定</button> -->
                    <input type="submit" id="submit" name="submit" value="确定" class="btn btn-primary" />
                </div>
             </form>
        </div>
    </div>
</div>

<!-- 编辑用户 -->
<div class="modal fade" id="editUsermodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加用户</h4>
            </div>
            <!-- 表单 -->
            <form id="editform" action="/manage/EditUser" method="post" name="edit_user_form" accept-charset="utf-8">
                <div class="modal-body">
                    <!-- 提示信息 -->
                    <p class="_hint-information clearfix" style="display:none;">
                        <span style="color:#fff;text-align:center;width:80%;display:inline-block;"></span><i class="icon-asterisk" style="color:red;vertical-align:middle;"></i>
                    </p>

                    <div class="user-1 example">
                        <label for="username">
                            <span>账户名称</span>
                        </label>
                        <input type="text" class="edit_Val_1" id="edit_username" name="username">
                    </div>
                    <div class="user-2 example">
                        <label for="password">
                            <span>账户密码</span>
                        </label>
                        <input type="text" class="u2_Val" id="edit_password" name="password">
                        <input type="text" class="edit_Val_uid" id="" name="uid">
                    </div>
                    <div class="user-4 example">
                        <span>用户角色</span>
                        <select class="edit_Val_2" name="role_id">
                            <option value="2">业务员</option>
                            <option value="1">管理员</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <!-- <button type="button">确定</button> -->
                    <input type="submit" id="edit_submit" name="submit" value="确定" class="btn btn-primary" />
                </div>
             </form>
        </div>
    </div>
</div>

<!-- 删除 二次确定 -->
<div class="modal fade" id="sure_box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:30%;font-size:16px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" >确认删除吗？</h4>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="sure">确定</button>
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> -->
            </div>
        </div>
    </div>
</div>

<!-- 操作成功提示信息 -->
<div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">提示信息</h4>
            </div>
            <div class="modal-body">
                <center>删除成功</center>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">取消</button> -->
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block my_js %}
<script src="/static/js/userManage-1.js"></script>
<script>
    $('#container').height($(window).height());
    $(document).ready(function() {
        // 通过该方法来为每次弹出的模态框设置最新的zIndex值，从而使最新的modal显示在最前面
        $(document).on('show.bs.modal', '.modal', function() {
            var zIndex = 1040 + (10 * $('.modal:visible').length);
            $(this).css('z-index', zIndex);
            setTimeout(function() {
                $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
            }, 0);
        });

        // 添加用户  表单提交事件触发时
        $('#addform').submit(function(){
            if($('#username').val() == ''){
                $('.hint-information').show();
                $('.hint-information span').text('用户名不得为空！');
                return false;
            }
            if($('#password').val() == ''){
                $('.hint-information').show();
                $('.hint-information span').text('密码不得为空！');
                return false;
            }
        })
        $('#username').focus(function(){
            $('.hint-information').hide();
        })
        $('#password').focus(function(){
            $('.hint-information').hide();
        })



        var error = '{{error}}';
        if(error){
            // 后台判断是否存在用户
            $('#editUsermodal').modal('show');

            $('._hint-information').show();
            $('._hint-information span').text(error);
        }
        //编辑用户  表单提交事件触发时
        $('#editform').submit(function(){

            if($('#edit_username').val() == ''){
                $('._hint-information').show();
                $('._hint-information span').text('用户名不得为空！');
                return false;
            }
            // if($('#edit_password').val() == ''){
            //     $('.hint-information').show();
            //     $('.hint-information span').text('密码不得为空！');
            //     return false;
            // }
        })
        $('#edit_username').focus(function(){
            $('._hint-information').hide();
        })

    });

</script>
{% endblock %}